{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>I am a beginner programmer</p>
        <p>I made this blog with Angela and her course "100 Days of Code: The Complete Python Pro Bootcamp for 2023
"</p>
        <p>And you can do it too 😉!</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}